body {
  overflow-x: hidden;
}

//hide bg
.hide-bg {
  mix-blend-mode: multiply;
  filter: contrast(1);
}

/* login and signup css start */
.register-main {
  display: flex;
  justify-content: center;

  .register {
    padding: 100px 0px;
    width: 40%;
  }
  @media screen and (max-width: 440px) {
    .register {
      padding-top: 100px;
      width: 94%;
    }
  }
  @media screen and (min-width: 441px) and (max-width: 575px) {
    .register {
      padding-top: 100px;
      width: 90%;
    }
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .register {
      padding-top: 100px;
      width: 70%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .register {
      padding-top: 100px;
      width: 60%;
    }
  }
}

.form-errors {
  color: #f00000;
  font-size: 12px;
  margin-top: 5px;
}
/* login and signup css end */

/* email-send css start */
.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .email-inner-container {
    padding: 50px 0px;
    width: 40%;
  }
}

.email-sent-title {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.email-sent-content {
  background-color: rgb(78, 64, 185);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}

.email-sent-text {
  font-size: 16px;
  color: #fff;
  line-height: 1.6;

  strong {
    color: #f1481f;
    font-weight: bold;
  }

  &::before {
    content: '“';
    font-size: 24px;
    margin-right: 5px;
  }

  &::after {
    content: '”';
    font-size: 24px;
    margin-left: 5px;
  }
}

.verify-description {
  color: #fff;
}

.title-success {
  color: green;
}

.title-failed {
  color: #ff2400;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .loader {
    width: 80px;
    height: 80px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-modal {
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  z-index: 999;
}

.modal-close {
  position: absolute;
  top: 60px;
  right: 420px;
  cursor: pointer;
  font-size: 40px;
  color: #ffffff;
}

.modal-button {
  background-color: #e92d7c;
  border-radius: 10px;
  padding: 8px;
  color: #ffffff;
}
/* email-send css end */

/* user info */
.value {
  input {
    color: white;
  }
}

.button-container {
  display: flex;
  align-items: center;

  .cancel-button,
  .save-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    text-transform: capitalize;
    outline: none;
    width: 120px;
    color: white;

    &:hover {
      transform: translateY(-0.3px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .cancel-button {
    margin-right: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #e74c3c;

    button {
      background-color: #e74c3c;
    }
  }

  .save-button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #2ecc71;
  }
}

.complete-profile {
  &-button {
    color: #444;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
  }

  &-container {
    position: relative;
    flex: 0 0 320px;
    margin: auto;
    margin-top: 20px;
    background-image: linear-gradient(
      320deg,
      rgb(123, 25, 203) 0%,
      rgb(59, 38, 219) 99%
    );
    background-image: -moz-linear-gradient(
      120deg,
      rgb(123, 25, 203) 0%,
      rgb(59, 38, 219) 99%
    );
    background-image: -webkit-linear-gradient(
      120deg,
      rgb(123, 25, 203) 0%,
      rgb(59, 38, 219) 99%
    );
    background-image: -ms-linear-gradient(
      120deg,
      rgb(123, 25, 203) 0%,
      rgb(59, 38, 219) 99%
    );
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    @include border-radius(20px);
    text-align: center;
  }

  &-screen {
    padding: 40px 20px;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    overflow: hidden;
  }

  &-app-helper {
    text-align: right;
  }

  &-app-body {
    margin-top: 15px;
  }

  &-help-link {
    color: #aaa;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-profile {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  &-profile-picture {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  &-profile-image {
    width: 100%;
  }

  &-profile-name {
    color: #514861;
    font-weight: bold;
  }

  &-summary-wrapper {
    position: relative;
    height: 60px;
  }

  &-summary {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: -30px;
    right: 0;
    bottom: 0;
    padding: 0 30px;
    background: #746ae6;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 20px rgba(150, 150, 150, 0.1);
  }

  &-summary-body {
    width: 100%;
  }

  &-summary-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
  }

  &-summary-progress {
    $progress-color: linear-gradient(
      80deg,
      rgb(236, 19, 121) 0%,
      rgb(108, 0, 146) 100%
    );
    $background-color: lightgrey;

    progress[value] {
      --color: #{$progress-color};
      --background: #{$background-color};

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      width: 100%;
      margin-top: 10px;
      border-radius: 10em;
      height: 8px;
      background: var(--background);

      &::-webkit-progress-bar {
        border-radius: 10em;
        background: var(--background);
      }

      &::-webkit-progress-value {
        border-radius: 10em;
        background: var(--color);
      }

      &::-moz-progress-bar {
        border-radius: 10em;
        background: var(--color);
      }
    }
  }

  &-progress-container {
    margin: 30px 0;
  }

  &-progress {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background: #986afd;
    border-radius: 3px;
    position: relative;

    &.completed {
      opacity: 70%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-progress-left {
    padding: 18px 25px;
  }

  &-progress-icon {
    padding: 2px;
    color: #ccc;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 30px;
  }

  &-progress.completed &-progress-icon {
    color: #19b559;
    background: #dcf8e7;
    border: 1px solid #4de28a;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  &-progress-icon .material-icons {
    display: block;
    font-size: 12px;
  }

  &-progress-title {
    color: white;
    font-size: 18px;
    line-height: 1;

    &.completed {
      color: #333;
    }
  }

  &-progress-status {
    color: #ddd;
    font-size: 14px;
    font-weight: bold;
    text-align: left;

    &.completed {
      color: #4de28a;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &-progress-right-icon {
    position: absolute;
    right: 16px;
    padding: 2px;
    border-radius: 30px;
    color: #67cadc;
    background: #dcf3f8;
    border: 1px solid #67cadc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  &-progress-arrow-icon .material-icons {
    display: block;
    font-size: 16px;
  }

  &-complete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: white;
    @include gradient-three;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

    .material-icons {
      display: block;
      margin-left: 10px;
      font-size: 16px;
      transition: transform 0.2s;
    }

    &:hover .material-icons {
      transform: translateX(6px);
    }
  }
}

.complete-profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: #fdac04;
  background: transparent;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 20px;

  .material-icons {
    display: block;
    margin-left: 10px;
    font-size: 16px;
    transition: transform 0.2s;
  }

  &:hover .material-icons {
    transform: translateX(12px);
  }
}

.update-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.image-empty {
  width: 30%;
  object-fit: contain;
}

.footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 24px;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-button {
  border: 2px solid #c6cbc8;
  padding: 8px 18px;
  border-radius: 30px;
  display: flex;
  gap: 10px;
  font-size: 20;
  font-weight: bolder;
}

.tabs-container-custom {
  width: 100%;
}

.tabs-custom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tab-custom {
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  color: white;
  border-radius: 25px;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.8s;
}

.tab-custom:last-child {
  margin-right: 0;
}

.tab-custom.active {
  border: none;
  background-color: #5a4bcc;
}

.tab-content-custom {
  padding: 20px;
}

ul.bullet {
  list-style: disc;
  margin-bottom: 5px;
  padding: 10px;
}
ul.bullet > li {
  list-style: disc;
  margin-bottom: 5px;
  padding: 10px;
}
ul.number {
  list-style: decimal;
  margin-bottom: 5px;
  padding: 10px;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-top: 2%;
}
p br {
  display: block;
  margin: 10%;
}

strong {
  color: rgb(240, 6, 170);
}

.user-profile {
  padding: 5px 20px;
}
.divider {
  border-bottom: 1px solid #5496ff;
  margin-bottom: 4px;
  padding-top: 4px;
}

.popup {
  display: none;
  position: absolute;
  top: 90%;
  left: 100%;
  width: 300px;
  padding: 10px;
  transform: translateX(-100%);
  background-color: #4939c1;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.632);
  z-index: 1000;
}

.popup-arrow {
  position: absolute;
  top: -10px;
  left: 92%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #5043b8;
  z-index: 1000;
}

.popup-btn {
  width: 100%;
  text-align: left;
  display: flex;
  gap: 14px;
  color: white;
  padding-left: 4px;
  background-color: transparent;
}
.popup-btn:hover {
  background-image: linear-gradient(
    80deg,
    rgb(236, 19, 121) 0%,
    rgb(108, 0, 146) 100%
  );
  color: white;
  border-radius: 10px;
}
@media only screen and (min-width: 1199px) {
  .popup {
    display: block;
  }
}
.border-between {
  border-bottom: 1px solid black;
  padding-top: 4px;
  padding-bottom: 8px;
}

.winner-sample {
  padding: 40px 80px;
}

.padding-top-nav {
  margin-top: 20px;
  margin-bottom: 14px;
}

.nav-user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.list-nav {
  padding: 8px 10px;
}
.list-nav p {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.user-profile-link {
  display: none;
  margin-left: 28px;
}
@media screen and (max-width: 1198px) {
  .user-profile-link {
    display: block;
  }
}
.react-icon-profile {
  padding-right: 10px;
}

.mbp_pagination ul {
  margin: 0;
  padding: 0;
}
.mbp_pagination .page_navigation {
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}
.mbp_pagination .page-item {
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin-right: 6px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.mbp_pagination .page-item:hover {
  background-color: #ededed;
}
.mbp_pagination .page-item:first-child,
.mbp_pagination .page-item:last-child {
  background-image: linear-gradient(
    300deg,
    rgb(84, 150, 255) 0%,
    rgb(135, 57, 230) 100%
  );
  -webkit-box-shadow: 0px 1px 4px rgba(24, 26, 32, 0.07);
  -o-box-shadow: 0px 1px 4px rgba(24, 26, 32, 0.07);
  box-shadow: 0px 1px 4px rgba(24, 26, 32, 0.07);
}
.mbp_pagination .page-item.active .page-link {
  background-image: linear-gradient(
    360deg,
    rgb(236, 3, 139) 0%,
    rgb(251, 100, 104) 44%,
    rgb(251, 185, 54) 100%
  );
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.mbp_pagination .page-link {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: black;
  font-family: var(--title-font-family);
  font-weight: 400;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 40px;
}

// .contests-body {
//   min-height: 1300px;
// }

.slick-next {
  position: absolute;
  color: white;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slick-prev {
  display: none;
}
.contest-features {
  margin-top: 100px;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.revert-image {
  transform: rotateY(180deg);
}
/* GALLERY STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.gallery-wrapper {
  position: relative;
  max-width: 50%;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 15px;
}

@media only screen and (max-width: 990px) {
  .gallery-wrapper {
    position: relative;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
  }
}

.gallery-wrapper .thumb-list {
  display: grid;
  grid-gap: 15px;
}

.gallery-wrapper .thumb-list li {
  position: relative;
  cursor: pointer;
}

.gallery-wrapper .thumb-list li:not(.is-active):hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--hovered-thumb);
}

.gallery-wrapper .thumb-list li.is-active {
  border: 1px solid #e82a7a;
}

.gallery-wrapper .thumb-list img {
  display: block;
}

.gallery-wrapper .featured-list {
  position: relative;
  border: 2px solid #e82a7a;
  border-radius: 20px;
  overflow: hidden;
}

.gallery-wrapper .featured-list li {
  opacity: 0;
  transition: opacity 0.25s;
}

.gallery-wrapper .featured-list li.is-active {
  opacity: 1;
}

.gallery-wrapper .featured-list .featured-img {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-wrapper .notification,
.gallery-wrapper .open-lightbox {
  position: absolute;
  top: 5px;
  right: 30px;
  padding: 8px;
  border-radius: 20px;
  color: white;
  border-radius: 1px solid w;
  background: transparent;
  z-index: 1;
}

.gallery-wrapper .open-lightbox {
  right: 20px;
}
.gallery-wrapper .open-lightbox:hover {
  color: #19b559;
}

@media (max-width: 750px) {
  .gallery-wrapper {
    grid-template-columns: 1fr;
  }

  .gallery-wrapper .thumb-list {
    grid-template-columns: repeat(4, 1fr);
    order: 1;
  }

  .gallery-wrapper .featured-list {
    height: 340px;
  }
}

/* LIGHTBOX STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: all 0.25s;
  background: #0f0232;
}

.lightbox.is-visible {
  opacity: 1;
  visibility: visible;
}

.lightbox-header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background: transparent;
  color: white;
}

.image-preview {
  position: relative;
}

.lightbox-header .close-lightbox {
  padding: 5px 10px;
  background-image: linear-gradient(
    360deg,
    rgb(236, 3, 139) 0%,
    rgb(251, 100, 104) 44%,
    rgb(251, 185, 54) 100%
  );
  border-radius: 50%;
  font-size: 16px;
}
.lightbox-preview {
  margin-top: 100px;
  overflow: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.lightbox-preview::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.lightbox-preview {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.lightbox-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0232;
}

.lightbox-items {
  display: grid;
}

.lightbox-items li {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  transition: opacity 0.25s;
}

.lightbox-items li.is-active {
  opacity: 1;
}

.lightbox-items img {
  width: auto;
  max-height: 100vh;
}

.lightbox-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px 10px;
  border-radius: 20px;
  background-image: linear-gradient(
    360deg,
    rgb(236, 3, 139) 0%,
    rgb(251, 100, 104) 44%,
    rgb(251, 185, 54) 100%
  );
}

.lightbox-control-prev {
  left: 5px;
}

.lightbox-control-next {
  right: 5px;
}

.lightbox-control svg {
  display: block;
  fill: white;
}

.feature-image {
  width: 100%;
  height: 100%;
}

$yellow: #ffd300;
$blue: #17d3ff;
$pink: #ff4e91;
$totalPieces: 200;
$duration: 1000;

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

.icon {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 32px;
  position: relative;
}

/* upcoming draw ticket*/
.upcoming-draw-ticket {
  cursor: pointer;
  transition:
    border 0.4s ease,
    transform 0.4s ease;
}

.upcoming-draw-ticket:hover {
  border: 2px solid white;
  transform: scale(1.01);
}
/* upcoming draw ticket*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(100px);
  background-color: #12023e;
  z-index: 1000;
}
.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 20px;
}

.close-button-x {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.next-button-slick {
  color: white;
  padding: 2px 6px;
  border: 1px solid white;
  border-radius: 50%;
  z-index: 1000;
}
.next-button-slick:hover {
  background-image: linear-gradient(
    360deg,
    rgb(236, 3, 139) 0%,
    rgb(251, 100, 104) 44%,
    rgb(251, 185, 54) 100%
  );
  border: none;
}
.prev-slick-button {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1000;
}
.next-slick-button-position {
  position: absolute;
  left: 0;
  top: 50%;
}

@media screen and (max-width: 767px) {
  .winner-image-slider {
    height: 300px;
  }
}
.badge-coming-soon {
  position: absolute;
  top: 12px;
  right: 8px;
  font-size: 12px;
  font-weight: bolder;
  background-image: linear-gradient(
    4deg,
    rgb(236, 3, 139) 0%,
    rgb(251, 100, 104) 44%,
    rgb(251, 185, 54) 100%
  );
  padding: 0px 4px;
  border-radius: 16px;
  color: white !important;
}
.badge-coming-soon-category {
  position: absolute;
  top: 0px;
  right: 4px;
}
.tag-nav {
  position: relative;
  font-size: 2px;
}

.firstLine {
  margin-top: 15px;
  line-height: 10px;
  font-size: 12px;
  color: white !important;
  font-weight: bolder;
}
.secondLine {
  line-height: 20px;
  font-size: 12px;
  color: white !important;
  font-weight: bolder;
}
.badges {
  position: relative;
  margin: 40px auto;
  width: 70px;
  height: 70px;
  background-image: linear-gradient(
    4deg,
    rgb(236, 3, 139) 0%,
    rgb(251, 100, 104) 44%,
    rgb(251, 185, 54) 100%
  );
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
  font-size: 5px;
  font-family: 'Open Sans', sans-serif;
  -webkit-animation: 3s ease-in-out 0s normal none infinite running swing;
  -moz-animation: 3s ease-in-out 0s normal none infinite running swing;
  -o-animation: 3s ease-in-out 0s normal none infinite running swing;
  animation: 3s ease-in-out 0s normal none infinite running swing;
  -webkit-transform-origin: 30px -22px;
  -moz-transform-origin: 30px -22px;
  -o-transform-origin: 30px -22px;
  transform-origin: 30px -22px;
}

.badges:before {
  content: '';
  position: absolute;
  top: 40px;
  left: 40px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.badges:after {
  content: '';
  position: absolute;
  top: -12px;
  left: 30px;
  width: 1px;
  height: 16px;
  border-radius: 0%;
  background: #ffffff;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
  }
}
@-moz-keyframes swing {
  0% {
    -moz-transform: rotate(5deg);
  }
  50% {
    -moz-transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(5deg);
  }
}
@-o-keyframes swing {
  0% {
    -o-transform: rotate(5deg);
  }
  50% {
    -o-transform: rotate(-5deg);
  }
  100% {
    -o-transform: rotate(5deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
.hero-slider {
  position: relative;
}
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.next-button-slick-hero {
  color: white;
  padding: 2px 6px;
  border: 1px solid white;
  border-radius: 50%;
  z-index: 1;
}
.next-button-slick-hero:hover {
  background-image: linear-gradient(
    360deg,
    rgb(236, 3, 139) 0%,
    rgb(251, 100, 104) 44%,
    rgb(251, 185, 54) 100%
  );
  border: none;
}
.prev-slick-button-hero {
  position: absolute;
  top: 40%;
  right: 30px;
  z-index: 1;
}
.next-slick-button-position-hero {
  position: absolute;
  left: 30px;
  top: 40%;
}
.relative-pos {
  position: relative;
}
.hero-span-data {
  color: #17d3ff;
  font-size: 25px;
  font-weight: bolder;
}

.badge {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.badge::before,
.badge::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}

.badge span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font:
    700 18px/1 'Lato',
    sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* in alto a destra */
.badge-top-right {
  top: -10px;
  right: -10px;
}

.badge-top-right::before,
.badge-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.badge-top-right::before {
  top: 0;
  left: 0;
}

.badge-top-right::after {
  bottom: 0;
  right: 0;
}

.badge-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
