/* skeleton for contest*/
.container-skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.movie--isloading {
  height: 450px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 15px;
}

.movie--isloading .loading-image {
  height: 250px;
  background-image: linear-gradient(
    90deg,
    #5a4bcc 0px,
    #4939c1 40px,
    #5a4bcc 80px
  );
  background-size: 250px;
  -webkit-animation: shine-loading-image 0.2s infinite ease-out;
  animation: shine-loading-image 1s infinite ease-out;
}

.movie--isloading .loading-content {
  background: #4939c1;
  padding: 15px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.movie--isloading .loading-content .loading-text-container {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.movie--isloading .loading-content .loading-main-text {
  height: 10px;
  width: 65%;
  margin-bottom: 10px;
  background: #ececec;
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-size: 3000px;
  border-radius: 15px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.movie--isloading .loading-content .loading-sub-text {
  height: 10px;
  width: 50%;
  background: #ececec;
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-size: 250px;
  border-radius: 10px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.movie--isloading .loading-content .loading-btn {
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background: #ececec;
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-size: 250px;
  border-radius: 3px;
  -webkit-animation: shine-loading-container-items 0.5s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.border-bottom-skeleton {
  border-bottom: 1px solid white;
  padding: 20px 0px;
}

@-webkit-keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}

@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}

@-webkit-keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}

@keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}
/* contest skeleton end*/

.card-skeleton {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  @media screen and (max-width: 991px) {
    flex-direction: column;
  }
}

.card-skeleton.is-loading-skeleton {
  .image-skeleton,
  .h2-skeleton,
  .p-skeleton,
  .button-skeleton,
  .h4-skeleton,
  .h6-skeleton {
    background-image: linear-gradient(
      90deg,
      #5a4bcc 0px,
      #4939c1 40px,
      #5a4bcc 80px
    );
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  .image-skeleton {
    height: 500px;
    border-radius: 15px;
  }

  .button-skeleton-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }

  .button-skeleton {
    margin-top: 60px;
    width: 300px;
    height: 50px;
    border-radius: 40px;
  }

  .h2-skeleton {
    margin-top: 10px;
    height: 36px;
  }

  .h4-skeleton {
    margin-top: 30px;
    height: 20px;
    width: 80%;
  }
  .h6-skeleton {
    margin-top: 30px;
    height: 20px;
    width: 60%;
  }

  .p-skeleton {
    margin-top: 40px;
    height: 15px;
    width: 40%;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.ticket-isloading .loading-btn {
  width: 100%;
  height: 25px;
  border-radius: 60px;
  background: #ececec;
  background-image: -webkit-linear-gradient(
    left,
    rgb(169, 168, 168) 0px,
    white 40px,
    rgb(169, 168, 168) 80px
  );

  background-size: 200% 100%;
  border-radius: 20px;
  animation: 1.5s shine linear infinite;
}

.hero-isloading .loading-btn {
  width: 25%;
  height: 50px;
  border-radius: 60px;
  background-image: -webkit-linear-gradient(
    left,
    #d43d84 0px,
    white 40px,
    #d43d84 80px
  );
  margin-right: 20px;
  background-size: 200% 100%;
  border-radius: 30px;
  animation: 1.5s shine linear infinite;
}
.hero-isloading .loading-h2 {
  width: 100%;
  height: 120px;
  border-radius: 60px;
  background-image: -webkit-linear-gradient(
    left,
    #d43d84 0px,
    white 40px,
    #d43d84 80px
  );
  margin-bottom: 60px;
  background-size: 200% 100%;
  border-radius: 30px;
  animation: 1.5s shine linear infinite;
}
.hero-isloading .loading-h1 {
  width: 90%;
  height: 60px;
  background-image: -webkit-linear-gradient(
    left,
    #d43d84 0px,
    white 40px,
    #d43d84 80px
  );
  margin-bottom: 40px;
  background-size: 200% 100%;
  border-radius: 20px;
  animation: 1.5s shine linear infinite;
}

.hero-isloading .loading-p {
  width: 70%;
  height: 20px;
  margin-bottom: 20px;
  background-image: -webkit-linear-gradient(
    left,
    #d43d84 0px,
    white 40px,
    #d43d84 80px
  );
  background-size: 200% 100%;
  border-radius: 10px;
  animation: 1.5s shine linear infinite;
}
.user-isloading .loading-field {
  width: 40%;
  height: 20px;
  background-image: -webkit-linear-gradient(
    left,
    rgb(190, 184, 184) 0px,
    white 40px,
    rgb(190, 184, 184) 80px
  );
  margin: 10px 20px;
  background-size: 200% 100%;
  border-radius: 30px;
  animation: 1.5s shine linear infinite;
}
.winner-isloading .user-image,
.ticket-number {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgb(236, 3, 139) 0%,
    rgb(251, 100, 104) 44%,
    rgb(243, 76, 173) 100%
  );
  background-size: 200% 100%;
  border-radius: 50%;
  animation: 1.5s shine linear infinite;
}
.winner-isloading .title,
.draw-date {
  width: 100%;
  height: 30px;
  background-image: linear-gradient(
    90deg,
    rgb(236, 3, 139) 0%,
    rgb(251, 100, 104) 44%,
    rgb(243, 76, 173) 100%
  );
  background-size: 200% 100%;
  border-radius: 20px;
  animation: 1.5s shine linear infinite;
}
.winner-isloading.contest-no {
  width: 40px;
  height: 40px;
  background-image: linear-gradient(
    90deg,
    rgb(236, 3, 139) 0%,
    rgb(251, 100, 104) 44%,
    #c4a1f8 100%
  );
  background-size: 200% 100%;
  border-radius: 50%;
  animation: 1.5s shine linear infinite;
}
.contest-cart-image {
  min-height: 150px;
}

.ribbon {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1000;
}

.ribbon__content {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
  position: absolute;
  display: block;
  width: 300px; /* Increase width as needed */
  padding: 50px 80px 10px -10px; /* Adjust padding to extend to the bottom */
  background-image: linear-gradient(
    110deg,
    rgb(236, 19, 121) 0%,
    rgb(108, 0, 146) 100%
  );
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  margin-top: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  // border: 2px dotted #fff;
  // outline: 5px solid #f5cd79;
  z-index: 1000;
}
.ribbon__content p {
  color: white;
  font-weight: bolder;
  padding-top: 10px;
}
/* Pseudo-elements for ribbon corners */
.ribbon::before,
.ribbon::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-style: solid;
  border-width: 5px;
  overflow: hidden;
}

.ribbon::before {
  top: 0;
  left: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-image: linear-gradient(
    110deg,
    rgb(236, 19, 121) 0%,
    rgb(108, 0, 146) 100%
  );
}
.ribbon::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-image: linear-gradient(
    110deg,
    rgb(236, 19, 121) 0%,
    rgb(108, 0, 146) 100%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
